<!DOCTYPE html>
<html>
    <head>
	    <link rel="stylesheet" href="{{ app_path }}/css/bootstrap.min.css" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	    <script src="{{ app_path }}/js/bootstrap.min.js"></script>
	    <script src="{{ app_path }}/js/modernizr.min.js"></script>
	    <script src="{{ app_path }}/js/underscore.min.js"></script>
	    <script src="{{ app_path }}/js/backbone.min.js"></script>
	    <title>Faker UI</title>
	    <style>
	    	.fields li {
	    		border-bottom: 1px solid #DDD;
	    		margin-top: 8px;
	    	}
	    	footer {
	    		min-height: 42px;
	    	}
	    </style>
    </head>
    <body>
    	
    	<div class="navbar">
  			<div class="navbar-inner">
    			<div class="container">
			      	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			     	</a>
	      			<a class="brand" href="#">Faker UI</a>
	      			<div class="nav-collapse collapse">
	      			</div>
    			</div>
  			</div>
		</div>
    	
        <div class="container-fluid">
        	<div class="row-fluid">
        		<div class="span8">
        			<div class="alert alert-info">
						Faker UI is a data generator built on top of the awesome 
						<strong><a href="https://github.com/fzaninotto/Faker">Faker</a></strong> 
						from <strong><a href="https://github.com/fzaninotto">@fzaninotto</a></strong>
					</div>
					<p>
					Easily generate fake data in various formats, for demo or testing.  
					</p>
        		</div>
        		<div class="span4">
        			<form class="form-horizontal">
	        			<div class="control-group">
	    					<label class="control-label" for="format">Format</label>
	    					<div class="controls">
	      						<select id="format" class="input-medium">
									<option value="csv">CSV</option>
									<option value="sql">SQL</option>
								</select>
	    					</div>
	 					</div>
	 					<div class="control-group">
	 						<div class="controls">
	 							<label class="checkbox">
        							<input type="checkbox" id="titles" /> Titles
      							</label>
	 						</div>
	 					</div>
	 					
        			</form>
					<hr>
					<button class="btn btn-large btn-block btn-success" id="download">Generate</button>
				</div>
	        </div>
	        <hr>
        	<div class="row-fluid">
        		<div class="span12">
					<div class="tabbable">
	  					<ul class="nav nav-tabs">
	    					<li class="active"><a href="#config" data-toggle="tab">Configuration</a></li>
	    					<li><a id="preview-tab" href="#preview" data-toggle="tab">Preview</a></li>
	    					<li><a id="rest-api-tab" href="#rest-api" data-toggle="tab">REST API</a></li>
	  					</ul>
	  					<div class="tab-content">
	    					<div class="tab-pane active" id="config">
	    						<form method="post" action="{{ app_path }}/index.php/download" id="fields-form">
	    							<input type="hidden" name="format" value="csv" />
	    							<input type="hidden" name="titles" value="0" />
		    						<ul class="unstyled fields">
		      							<li>
		      								<a href="#" class="remove"><i class="icon icon-remove"></i></a>
			      							<select name="fields[0][type]">
			      								{% for provider, values in fieldTypes %}
			      									<option>{{provider }}</option>
			      									{% for fieldType in values %}
													<option value="{{ fieldType }}">- {{ fieldType }}</option>
													{% endfor %}
												{% endfor %}
											</select>
											<input name="fields[0][title]" class="input-medium" type="text" placeholder="Title" />
										</li>
		      						</ul>
	      						</form>
	      						<a href="#" id="add-field"><i class="icon icon-plus"></i> Add field</a> 
	    					</div>
	    					<div class="tab-pane" id="preview">
								<a id="refresh" class="btn btn-info" href="#"><i class="icon-repeat icon-white"></i> Refresh</a>
								<hr>
								<pre></pre>
	    					</div>
	    					<div class="tab-pane" id="rest-api">
								<p>
								Faker UI is also available as <strong>REST</strong>. Just send a JSON object representing 
								the data you want to generate and save the output to a file. 
								</p>
								<pre>$ curl -d '[{"type":"firstName"},{"type":"lastName"}]' 'http://fakerui.pagodabox.com/data.sql?size=5'
INSERT INTO %table% VALUES("Paul", "Noel");
INSERT INTO %table% VALUES("Nicole", "Monnier");
INSERT INTO %table% VALUES("Patricia", "Vaillant");
INSERT INTO %table% VALUES("Adele", "Martins");
INSERT INTO %table% VALUES("Constance", "Mahe");</pre>
	    					</div>
	  					</div>
					</div>
				</div>
        	</div>
        	<hr>
        	<footer>
        		<a href="https://github.com/alexsegura/FakerUI">View project on GitHub</a>
        	</footer>
        </div>
		{% include 'scripts.html' %}
    </body>
</html>