<p>
Faker UI is also available as <strong>REST</strong>. Just send a JSON object representing 
the data you want to generate and save the output to a file. 
</p>

<code>http://fakerui.pagodabox.com/data.{format}</code>

<h4>Simple example</h4>
<pre>$ curl -d '[{"type":"firstName"},{"type":"lastName"}]' 'http://fakerui.pagodabox.com/data.sql?size=5'
INSERT INTO %table% VALUES("Paul", "Noel");
INSERT INTO %table% VALUES("Nicole", "Monnier");
INSERT INTO %table% VALUES("Patricia", "Vaillant");
INSERT INTO %table% VALUES("Adele", "Martins");
INSERT INTO %table% VALUES("Constance", "Mahe");</pre>

<h4>Adding titles</h4>
<pre>$ curl -d '[{"type":"firstName","title":"Prenom"},{"type":"lastName","title":"Nom"}]' 'http://fakerui.pagodabox.com/data.csv?size=5&titles=1'
Prenom;Nom
Bernadette;Cousin
Michelle;Meunier
Victor;Deschamps
Françoise;Martins
Arnaude;Didier</pre>

<h4>Changing locale with <em>Accept-Language</em></h4>
<pre>$ curl -H 'Accept-Language: fr-FR' -d '[{"type":"firstName"},{"type":"lastName"}]' 'http://fakerui.pagodabox.com/data.sql'
INSERT INTO %table% VALUES("Gregoire", "Brun");
INSERT INTO %table% VALUES("Sophie", "Brun");
INSERT INTO %table% VALUES("Julien", "Seguin");
INSERT INTO %table% VALUES("Thierry", "Laroche");
INSERT INTO %table% VALUES("Maggie", "Morel");</pre>