<script>

var APP_PATH = "{{ app_path }}"; 

$(document).ready(function() {

	var $list = $('#config form ul');

	var storeFields = function() {
		localStorage.setItem("fakerui.config.fields", JSON.stringify(getConfigObject()));
	};

	var getConfigObject = function() {
		var fields = [];
		$list.find('li').each(function() {
			var $this = $(this), 
				$type = $this.find('select'),
				$title = $this.find('input[type="text"]');
			fields.push({
				type: $type.val(),
				title: $title.val()
			});
		});
		return fields;
	};

	var updateIndex = function(index, element) {
		var $element = $(element), 
			name = $element.attr('name');
		$element.attr('name', name.replace('[0]', '[' + index + ']'));
	};

	var makeForm = function() {
		$list.find('select').each(updateIndex);
		$list.find('input').each(updateIndex);
	};

	$('#config form ul li .remove').live('click', function(e) {
		e.preventDefault();
		$(this).parents('li').first().remove();
		storeFields();
		return false;
	});

	$('#config form ul li select').live('change', function(e) {
		storeFields();
	});
		
	if (Modernizr.localstorage) {

		var data = localStorage.getItem("fakerui.config.fields");

		if (data) {
     		
			var fields = JSON.parse(data), 
				$item = $list.find('li:first');

			if (fields.length > 0) {
							
				_.each(fields, function(field) {
					var $clone = $item.clone();
					$clone.find('select option[value="' + field.type + '"]').attr('selected', 'selected');
					$clone.find('input[type="text"]').val(field.title);
	 				$list.append($clone);
	 			});
	
				$item.remove();
				makeForm();
				
			}
 					
 		}

	}

	$('#add-field').on('click', function(e) {

		e.preventDefault();

		var $items = $list.find('li'),
			$item = $items.first(),
			$clone = $item.clone(),
			itemCount = $items.length;

		$list.find('select').each(function() {
			var val = $(this).val();
			fields.push(val);
		});

		$list.append($clone);
		makeForm();

		storeFields();
			
		return false;
			
	});

	var refreshPreview = function() {

		var format = $('#format').val(), 
			titles = $('#config form input[name="titles"]').val();
		
		$.ajax({
			type: 'POST', 
			url: APP_PATH + '/data.' + format + '?titles=' + titles, 
			data: JSON.stringify(getConfigObject()),
			contentType: "application/json", 
			dataType: 'text',
			success: function(text) {
				$('#preview pre').html(text);
			}
		});

	};

	$('#format').on('change', function() {
		var val = $(this).val();
		$('#config form input[name="format"]').val(val);
		refreshPreview();
	});

	$('#titles').on('click', function() {
		$('#config form input[name="titles"]').val($(this).is(':checked') ? '1' : '0');
		refreshPreview();
	});
		
	$('#preview-tab').on('shown', refreshPreview);

	$('#refresh').on('click', function(e) {
		e.preventDefault();
		refreshPreview();
		return false;
	});

	$('#download').on('click', function() {
		$('#fields-form').find('input[name="size"]').val($('#size').val());
		$('#fields-form').submit();
	});
		
});
</script>